/*customization*/

img {
	float: left;
	margin: 1em;
}

h3 {
	margin-top: 1.5em;
}

.social a {
	margin-right: 1em;
}

#logo {
	margin-right: 3em;
}

.slick-prev:before, .slick-next:before { 
    color:red !important;
}


.slick-prev {
    margin-left: 40px;
  }

.slick-next {
  margin-right: 40px;
}